@{
    ViewData["Title"] = "Quản lý người dùng";
}
@{
    Layout = "adminlayout";
}
<div class="p-4 bg-white rounded-lg shadow-sm">
    <h2 class="text-xl font-semibold mb-6">Quản lý Người Dùng</h2>

    <table class="min-w-full">
        <thead class="bg-gray-50">
            <tr>
                <th class="py-2 px-4 text-left text-sm font-semibold">Username</th>
                <th class="py-2 px-4 text-left text-sm font-semibold">Email</th>
                <th class="py-2 px-4 text-left text-sm font-semibold">Ngày tạo</th>
                <th class="py-2 px-4 text-left text-sm font-semibold">Ngày cập nhật</th>
                <th class="py-2 px-4 text-left text-sm font-semibold">Hành động</th>
            </tr>
        </thead>
        <tbody>
            @* Dữ liệu bind vào đây *@
        </tbody>
    </table>
</div>
