{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "MongoDB": {
    "ConnectionString": "mongodb://localhost:27017", // Đảm bảo địa chỉ MongoDB là đúng (ví dụ: localhost nếu đang chạy trên máy local)
    "DatabaseName": "Vintellitour" // Tên database của bạn
  },
  "AllowedHosts": "*",

  "SmtpSettings": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "EnableSSL": true,
    "UserName": "22520814@gm.uit.edu.vn",
    "Password": "ibmn fshv znvt idnx"
  }
}
